@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body {
  height: 100%;
}
* {
  font-family: "Poppins", sans-serif;
  /* font-family: "Noto Sans", sans-serif; */
  margin: 0;
  padding: 0;
  /* background-color: rgb(240, 236, 199); */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: black;
  color: aliceblue;
  /* width: 100%; */
}
.logo {
  display: flex;
}
.logo span {
  font-size: 25px;
}
.logo img {
  width: 24px;
  filter: invert(1);
  padding-right: 4px;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
  padding: 0px 14px;
}
ul li a {
  text-decoration: none;
  color: aliceblue;
}
ul li a:hover {
  color: rgb(205, 225, 243);
}
footer {
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: small;
  /* position: absolute;
  bottom: 0; */
  /* width: 100%; */
}
main {
  height: 120vh;
}
.container {
  max-width: 100vh;
  margin: auto;
  padding: 15px;
}
input[type="text"] {
  padding: 5px 15px;
  margin: 5px 0px;
  min-width: 25vw;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.container input[type="submit"] {
  margin: 0 0;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
  color: white;
  background-color: black;
}
#resultTable td:first-child::first-letter {
  text-transform: uppercase;
}
/* Add your table styling here if needed */
table {
  /* border-collapse: collapse; */
  width: 100%;
}

td {
  border: 2px solid #ddd;
  padding: 8px;
  /* text-align: left; */
}

tr:nth-child(even) {
  background-color: #e9e9e9;
}

@media only screen and (max-width: 600px) {
  body {
    background: #fff9f9;
  }
  nav {
    flex-direction: column;
  }
  .container {
    font-size: 12px;
  }
  .logo {
    /* padding: 0px 0px; */
    display: flex;
  }
  .logo span {
    font-size: 22px;
  }
  .logo img {
    width: 18px;
    filter: invert(1);
  }
}
